.main-header {
    @include make-container();
    @include make-container-max-widths();

    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: $main-header-h;
        @include s-translate( -50%, 0 );
        background-color: $brand-primary;
    }
}

.main-header {
    .header__bar-primary {
        @include clearfix;
        min-height: $logo-size;
        min-width: 100%;
        max-height: $logo-size;
        max-width: $logo-size;
        width: 100%;
        height: $logo-size;
    }
    .header__bar-secondary {
        @include clearfix;
        display: block;
        position: relative;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        max-height: $main-header-secondary-h;
        height: $main-header-secondary-h;
        padding: 0 0 0 ($spacer * 4);

        &:before {
            content: "";
            z-index: 1;
            pointer-events: none;
            width: 100vw;
            height: 1px;
            background-color: rgba( $black, .15 );
            position: absolute;
            bottom: 0;
            @include s-translate( -50%, 0 );
            left: 50%;
        }
    }
}

.main-header.is-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: $zindex-navbar-fixed;

    .header__bar-secondary {
        // @include s-transition( max-height .3s linear );
        display: none;
    }

    &:before {
        height: $main-header-primary-h;
    }
}

#logo-header {
    display: block;

    float: left;
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;

    padding: 0;
    max-width: $logo-size + 2rem;
    width: $logo-size + 2rem;
    @include media-breakpoint-down(md) {
        padding: .5rem;
        max-width: $logo-size;
        width: $logo-size;
    }

    & > .logo__svg {
        position: relative;
        top: -1rem;

        @include media-breakpoint-down(md) {
            top: 0;
        }
    }
}

#header__slogan {
    position: relative;
    float: right;
    max-height: $main-header-secondary-h;
    height: $main-header-secondary-h;
    max-width: 50%;
    width: 50%;
    overflow: hidden;
    padding: 0 $spacer 0 0;

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        right: 1px;
        background-color: rgba( $black, .15 );
    }

    .text {
        margin: 0;
        color: $white;
        font-size: 9px;
        line-height: $main-header-secondary-h;
        text-align: center;
        letter-spacing: 0.1em;
        @include media-breakpoint-up(md) {
            text-align: right;
        }
    }
}

#header__secondary-action-group {
    float: right;

    .btn-login-secondary {
        font-size: 9px;
        line-height: 16px;
        border: none;
        text-transform: uppercase;
        @include button-variant($white, transparent, transparent);

        .text {
            padding: 0 ($spacer / 4);
        }

        .icon {
            color: $palette-yellow-A400;
        }
    }
}
