$black:      #000;
$white:      #FFF;

$palette-red:
#ffffff,
#f2caca,
#e79d9d,
#d86464,
#d24b4b,
#cc3333,
#b42d2d,
#9b2727,
#832121,
#6a1b1b,
#ffffff,
#f2caca,
#d24b4b,
#9b2727;

$palette-red-50: nth($palette-red, 1);
$palette-red-100: nth($palette-red, 2);
$palette-red-200: nth($palette-red, 3);
$palette-red-300: nth($palette-red, 4);
$palette-red-400: nth($palette-red, 5);
$palette-red-500: nth($palette-red, 6);
$palette-red-600: nth($palette-red, 7);
$palette-red-700: nth($palette-red, 8);
$palette-red-800: nth($palette-red, 9);
$palette-red-900: nth($palette-red, 10);
$palette-red-A100: nth($palette-red, 11);
$palette-red-A200: nth($palette-red, 12);
$palette-red-A400: nth($palette-red, 13);
$palette-red-A700: nth($palette-red, 14);

$palette-pink:
#ffd6eb,
#ff8ac4,
#ff52a8,
#ff0a85,
#eb0075,
#cc0066,
#ad0057,
#8f0047,
#700038,
#520029,
#ffd6eb,
#ff8ac4,
#eb0075,
#8f0047;

$palette-pink-50: nth($palette-pink, 1);
$palette-pink-100: nth($palette-pink, 2);
$palette-pink-200: nth($palette-pink, 3);
$palette-pink-300: nth($palette-pink, 4);
$palette-pink-400: nth($palette-pink, 5);
$palette-pink-500: nth($palette-pink, 6);
$palette-pink-600: nth($palette-pink, 7);
$palette-pink-700: nth($palette-pink, 8);
$palette-pink-800: nth($palette-pink, 9);
$palette-pink-900: nth($palette-pink, 10);
$palette-pink-A100: nth($palette-pink, 11);
$palette-pink-A200: nth($palette-pink, 12);
$palette-pink-A400: nth($palette-pink, 13);
$palette-pink-A700: nth($palette-pink, 14);

$palette-purple:
#ebe0f5,
#c4a7e2,
#a87dd4,
#8547c2,
#753bb0,
#663399,
#572b82,
#47246b,
#381c54,
#29143d,
#ebe0f5,
#c4a7e2,
#753bb0,
#47246b;

$palette-purple-50: nth($palette-purple, 1);
$palette-purple-100: nth($palette-purple, 2);
$palette-purple-200: nth($palette-purple, 3);
$palette-purple-300: nth($palette-purple, 4);
$palette-purple-400: nth($palette-purple, 5);
$palette-purple-500: nth($palette-purple, 6);
$palette-purple-600: nth($palette-purple, 7);
$palette-purple-700: nth($palette-purple, 8);
$palette-purple-800: nth($palette-purple, 9);
$palette-purple-900: nth($palette-purple, 10);
$palette-purple-A100: nth($palette-purple, 11);
$palette-purple-A200: nth($palette-purple, 12);
$palette-purple-A400: nth($palette-purple, 13);
$palette-purple-A700: nth($palette-purple, 14);

$palette-deep-purple:
#dcd1f0,
#b197de,
#916cd1,
#693bbb,
#5c33a3,
#4f2c8c,
#422575,
#351d5d,
#281646,
#1a0f2f,
#dcd1f0,
#b197de,
#5c33a3,
#351d5d;

$palette-deep-purple-50: nth($palette-deep-purple, 1);
$palette-deep-purple-100: nth($palette-deep-purple, 2);
$palette-deep-purple-200: nth($palette-deep-purple, 3);
$palette-deep-purple-300: nth($palette-deep-purple, 4);
$palette-deep-purple-400: nth($palette-deep-purple, 5);
$palette-deep-purple-500: nth($palette-deep-purple, 6);
$palette-deep-purple-600: nth($palette-deep-purple, 7);
$palette-deep-purple-700: nth($palette-deep-purple, 8);
$palette-deep-purple-800: nth($palette-deep-purple, 9);
$palette-deep-purple-900: nth($palette-deep-purple, 10);
$palette-deep-purple-A100: nth($palette-deep-purple, 11);
$palette-deep-purple-A200: nth($palette-deep-purple, 12);
$palette-deep-purple-A400: nth($palette-deep-purple, 13);
$palette-deep-purple-A700: nth($palette-deep-purple, 14);

$palette-indigo:
#e0e0f5,
#a7a7e2,
#7d7dd4,
#4747c2,
#3b3bb0,
#333399,
#2b2b82,
#24246b,
#1c1c54,
#14143d,
#e0e0f5,
#a7a7e2,
#3b3bb0,
#24246b;

$palette-indigo-50: nth($palette-indigo, 1);
$palette-indigo-100: nth($palette-indigo, 2);
$palette-indigo-200: nth($palette-indigo, 3);
$palette-indigo-300: nth($palette-indigo, 4);
$palette-indigo-400: nth($palette-indigo, 5);
$palette-indigo-500: nth($palette-indigo, 6);
$palette-indigo-600: nth($palette-indigo, 7);
$palette-indigo-700: nth($palette-indigo, 8);
$palette-indigo-800: nth($palette-indigo, 9);
$palette-indigo-900: nth($palette-indigo, 10);
$palette-indigo-A100: nth($palette-indigo, 11);
$palette-indigo-A200: nth($palette-indigo, 12);
$palette-indigo-A400: nth($palette-indigo, 13);
$palette-indigo-A700: nth($palette-indigo, 14);

$palette-blue:
#eff7fd,
#acd4f4,
#7abaed,
#3c99e5,
#218be1,
#1b7bc8,
#176aad,
#145a92,
#104977,
#0c395c,
#eff7fd,
#acd4f4,
#218be1,
#145a92;

$palette-blue-50: nth($palette-blue, 1);
$palette-blue-100: nth($palette-blue, 2);
$palette-blue-200: nth($palette-blue, 3);
$palette-blue-300: nth($palette-blue, 4);
$palette-blue-400: nth($palette-blue, 5);
$palette-blue-500: nth($palette-blue, 6);
$palette-blue-600: nth($palette-blue, 7);
$palette-blue-700: nth($palette-blue, 8);
$palette-blue-800: nth($palette-blue, 9);
$palette-blue-900: nth($palette-blue, 10);
$palette-blue-A100: nth($palette-blue, 11);
$palette-blue-A200: nth($palette-blue, 12);
$palette-blue-A400: nth($palette-blue, 13);
$palette-blue-A700: nth($palette-blue, 14);

$palette-light-blue:
#d6f2ff,
#8adafe,
#52c8fd,
#0cb1fd,
#02a0e7,
#028bc9,
#0276ab,
#01618c,
#014c6e,
#013750,
#d6f2ff,
#8adafe,
#02a0e7,
#01618c;

$palette-light-blue-50: nth($palette-light-blue, 1);
$palette-light-blue-100: nth($palette-light-blue, 2);
$palette-light-blue-200: nth($palette-light-blue, 3);
$palette-light-blue-300: nth($palette-light-blue, 4);
$palette-light-blue-400: nth($palette-light-blue, 5);
$palette-light-blue-500: nth($palette-light-blue, 6);
$palette-light-blue-600: nth($palette-light-blue, 7);
$palette-light-blue-700: nth($palette-light-blue, 8);
$palette-light-blue-800: nth($palette-light-blue, 9);
$palette-light-blue-900: nth($palette-light-blue, 10);
$palette-light-blue-A100: nth($palette-light-blue, 11);
$palette-light-blue-A200: nth($palette-light-blue, 12);
$palette-light-blue-A400: nth($palette-light-blue, 13);
$palette-light-blue-A700: nth($palette-light-blue, 14);

$palette-cyan:
#b3f6ff,
#67eeff,
#2fe8ff,
#00cce6,
#00b1c8,
#0096a9,
#007b8a,
#00606c,
#00444d,
#00292f,
#b3f6ff,
#67eeff,
#00b1c8,
#00606c;

$palette-cyan-50: nth($palette-cyan, 1);
$palette-cyan-100: nth($palette-cyan, 2);
$palette-cyan-200: nth($palette-cyan, 3);
$palette-cyan-300: nth($palette-cyan, 4);
$palette-cyan-400: nth($palette-cyan, 5);
$palette-cyan-500: nth($palette-cyan, 6);
$palette-cyan-600: nth($palette-cyan, 7);
$palette-cyan-700: nth($palette-cyan, 8);
$palette-cyan-800: nth($palette-cyan, 9);
$palette-cyan-900: nth($palette-cyan, 10);
$palette-cyan-A100: nth($palette-cyan, 11);
$palette-cyan-A200: nth($palette-cyan, 12);
$palette-cyan-A400: nth($palette-cyan, 13);
$palette-cyan-A700: nth($palette-cyan, 14);

$palette-teal:
#75fff2,
#29ffeb,
#00f0d9,
#00a898,
#008a7d,
#006b61,
#004c45,
#002e2a,
#000f0e,
#000000,
#75fff2,
#29ffeb,
#008a7d,
#002e2a;

$palette-teal-50: nth($palette-teal, 1);
$palette-teal-100: nth($palette-teal, 2);
$palette-teal-200: nth($palette-teal, 3);
$palette-teal-300: nth($palette-teal, 4);
$palette-teal-400: nth($palette-teal, 5);
$palette-teal-500: nth($palette-teal, 6);
$palette-teal-600: nth($palette-teal, 7);
$palette-teal-700: nth($palette-teal, 8);
$palette-teal-800: nth($palette-teal, 9);
$palette-teal-900: nth($palette-teal, 10);
$palette-teal-A100: nth($palette-teal, 11);
$palette-teal-A200: nth($palette-teal, 12);
$palette-teal-A400: nth($palette-teal, 13);
$palette-teal-A700: nth($palette-teal, 14);

$palette-green:
#e0f5e0,
#a7e2a7,
#7dd47d,
#47c247,
#3bb03b,
#339933,
#2b822b,
#246b24,
#1c541c,
#143d14,
#e0f5e0,
#a7e2a7,
#3bb03b,
#246b24;

$palette-green-50: nth($palette-green, 1);
$palette-green-100: nth($palette-green, 2);
$palette-green-200: nth($palette-green, 3);
$palette-green-300: nth($palette-green, 4);
$palette-green-400: nth($palette-green, 5);
$palette-green-500: nth($palette-green, 6);
$palette-green-600: nth($palette-green, 7);
$palette-green-700: nth($palette-green, 8);
$palette-green-800: nth($palette-green, 9);
$palette-green-900: nth($palette-green, 10);
$palette-green-A100: nth($palette-green, 11);
$palette-green-A200: nth($palette-green, 12);
$palette-green-A400: nth($palette-green, 13);
$palette-green-A700: nth($palette-green, 14);

$palette-light-green:
#ebf5e0,
#c4e2a7,
#a8d47d,
#85c247,
#75b03b,
#669933,
#57822b,
#476b24,
#38541c,
#293d14,
#ebf5e0,
#c4e2a7,
#75b03b,
#476b24;

$palette-light-green-50: nth($palette-light-green, 1);
$palette-light-green-100: nth($palette-light-green, 2);
$palette-light-green-200: nth($palette-light-green, 3);
$palette-light-green-300: nth($palette-light-green, 4);
$palette-light-green-400: nth($palette-light-green, 5);
$palette-light-green-500: nth($palette-light-green, 6);
$palette-light-green-600: nth($palette-light-green, 7);
$palette-light-green-700: nth($palette-light-green, 8);
$palette-light-green-800: nth($palette-light-green, 9);
$palette-light-green-900: nth($palette-light-green, 10);
$palette-light-green-A100: nth($palette-light-green, 11);
$palette-light-green-A200: nth($palette-light-green, 12);
$palette-light-green-A400: nth($palette-light-green, 13);
$palette-light-green-A700: nth($palette-light-green, 14);

$palette-lime:
#f5f5e0,
#e2e2a7,
#d4d47d,
#c2c247,
#b0b03b,
#999933,
#82822b,
#6b6b24,
#54541c,
#3d3d14,
#f5f5e0,
#e2e2a7,
#b0b03b,
#6b6b24;

$palette-lime-50: nth($palette-lime, 1);
$palette-lime-100: nth($palette-lime, 2);
$palette-lime-200: nth($palette-lime, 3);
$palette-lime-300: nth($palette-lime, 4);
$palette-lime-400: nth($palette-lime, 5);
$palette-lime-500: nth($palette-lime, 6);
$palette-lime-600: nth($palette-lime, 7);
$palette-lime-700: nth($palette-lime, 8);
$palette-lime-800: nth($palette-lime, 9);
$palette-lime-900: nth($palette-lime, 10);
$palette-lime-A100: nth($palette-lime, 11);
$palette-lime-A200: nth($palette-lime, 12);
$palette-lime-A400: nth($palette-lime, 13);
$palette-lime-A700: nth($palette-lime, 14);

$palette-yellow:
#ffffff,
#f2f2ca,
#e7e79d,
#d8d864,
#d2d24b,
#cccc33,
#b4b42d,
#9b9b27,
#838321,
#6a6a1b,
#ffffff,
#f2f2ca,
#d2d24b,
#9b9b27;

$palette-yellow-50: nth($palette-yellow, 1);
$palette-yellow-100: nth($palette-yellow, 2);
$palette-yellow-200: nth($palette-yellow, 3);
$palette-yellow-300: nth($palette-yellow, 4);
$palette-yellow-400: nth($palette-yellow, 5);
$palette-yellow-500: nth($palette-yellow, 6);
$palette-yellow-600: nth($palette-yellow, 7);
$palette-yellow-700: nth($palette-yellow, 8);
$palette-yellow-800: nth($palette-yellow, 9);
$palette-yellow-900: nth($palette-yellow, 10);
$palette-yellow-A100: nth($palette-yellow, 11);
$palette-yellow-A200: nth($palette-yellow, 12);
$palette-yellow-A400: nth($palette-yellow, 13);
$palette-yellow-A700: nth($palette-yellow, 14);

$palette-amber:
#fff5d6,
#ffe28a,
#ffd452,
#ffc20a,
#ebb000,
#cc9900,
#ad8200,
#8f6b00,
#705400,
#523d00,
#fff5d6,
#ffe28a,
#ebb000,
#8f6b00;

$palette-amber-50: nth($palette-amber, 1);
$palette-amber-100: nth($palette-amber, 2);
$palette-amber-200: nth($palette-amber, 3);
$palette-amber-300: nth($palette-amber, 4);
$palette-amber-400: nth($palette-amber, 5);
$palette-amber-500: nth($palette-amber, 6);
$palette-amber-600: nth($palette-amber, 7);
$palette-amber-700: nth($palette-amber, 8);
$palette-amber-800: nth($palette-amber, 9);
$palette-amber-900: nth($palette-amber, 10);
$palette-amber-A100: nth($palette-amber, 11);
$palette-amber-A200: nth($palette-amber, 12);
$palette-amber-A400: nth($palette-amber, 13);
$palette-amber-A700: nth($palette-amber, 14);

$palette-orange:
#ffebd6,
#ffc48a,
#ffa852,
#ff850a,
#eb7500,
#cc6600,
#ad5700,
#8f4700,
#703800,
#522900,
#ffebd6,
#ffc48a,
#eb7500,
#8f4700;

$palette-orange-50: nth($palette-orange, 1);
$palette-orange-100: nth($palette-orange, 2);
$palette-orange-200: nth($palette-orange, 3);
$palette-orange-300: nth($palette-orange, 4);
$palette-orange-400: nth($palette-orange, 5);
$palette-orange-500: nth($palette-orange, 6);
$palette-orange-600: nth($palette-orange, 7);
$palette-orange-700: nth($palette-orange, 8);
$palette-orange-800: nth($palette-orange, 9);
$palette-orange-900: nth($palette-orange, 10);
$palette-orange-A100: nth($palette-orange, 11);
$palette-orange-A200: nth($palette-orange, 12);
$palette-orange-A400: nth($palette-orange, 13);
$palette-orange-A700: nth($palette-orange, 14);

$palette-deep-orange:
#ffffff,
#f2caca,
#e79d9d,
#d86464,
#d24b4b,
#cc3333,
#b42d2d,
#9b2727,
#832121,
#6a1b1b,
#ffffff,
#f2caca,
#d24b4b,
#9b2727;

$palette-deep-orange-50: nth($palette-deep-orange, 1);
$palette-deep-orange-100: nth($palette-deep-orange, 2);
$palette-deep-orange-200: nth($palette-deep-orange, 3);
$palette-deep-orange-300: nth($palette-deep-orange, 4);
$palette-deep-orange-400: nth($palette-deep-orange, 5);
$palette-deep-orange-500: nth($palette-deep-orange, 6);
$palette-deep-orange-600: nth($palette-deep-orange, 7);
$palette-deep-orange-700: nth($palette-deep-orange, 8);
$palette-deep-orange-800: nth($palette-deep-orange, 9);
$palette-deep-orange-900: nth($palette-deep-orange, 10);
$palette-deep-orange-A100: nth($palette-deep-orange, 11);
$palette-deep-orange-A200: nth($palette-deep-orange, 12);
$palette-deep-orange-A400: nth($palette-deep-orange, 13);
$palette-deep-orange-A700: nth($palette-deep-orange, 14);


// Color order: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900.

$palette-brown:
#efebe9,
#d7ccc8,
#bcaaa4,
#a1887f,
#8d6e63,
#795548,
#6d4c41,
#5d4037,
#4e342e,
#3e2723;

$palette-brown-50: nth($palette-brown, 1);
$palette-brown-100: nth($palette-brown, 2);
$palette-brown-200: nth($palette-brown, 3);
$palette-brown-300: nth($palette-brown, 4);
$palette-brown-400: nth($palette-brown, 5);
$palette-brown-500: nth($palette-brown, 6);
$palette-brown-600: nth($palette-brown, 7);
$palette-brown-700: nth($palette-brown, 8);
$palette-brown-800: nth($palette-brown, 9);
$palette-brown-900: nth($palette-brown, 10);

$palette-gray:
#ffffff,
#fcfcfc,
#e0e0e0,
#bdbdbd,
#adadad,
#9e9e9e,
#8f8f8f,
#7f7f7f,
#707070,
#616161;

$palette-gray-50: nth($palette-gray, 1);
$palette-gray-100: nth($palette-gray, 2);
$palette-gray-200: nth($palette-gray, 3);
$palette-gray-300: nth($palette-gray, 4);
$palette-gray-400: nth($palette-gray, 5);
$palette-gray-500: nth($palette-gray, 6);
$palette-gray-600: nth($palette-gray, 7);
$palette-gray-700: nth($palette-gray, 8);
$palette-gray-800: nth($palette-gray, 9);
$palette-gray-900: nth($palette-gray, 10);

$palette-blue-gray:
#ffffff,
#d7d7e4,
#b6b6ce,
#8b8bb1,
#7878a5,
#666699,
#5a5a87,
#4e4e74,
#414162,
#353550;

$palette-blue-gray-50: nth($palette-blue-gray, 1);
$palette-blue-gray-100: nth($palette-blue-gray, 2);
$palette-blue-gray-200: nth($palette-blue-gray, 3);
$palette-blue-gray-300: nth($palette-blue-gray, 4);
$palette-blue-gray-400: nth($palette-blue-gray, 5);
$palette-blue-gray-500: nth($palette-blue-gray, 6);
$palette-blue-gray-600: nth($palette-blue-gray, 7);
$palette-blue-gray-700: nth($palette-blue-gray, 8);
$palette-blue-gray-800: nth($palette-blue-gray, 9);
$palette-blue-gray-900: nth($palette-blue-gray, 10);

// From MDL
$color-primary: $palette-purple-500 !default;
$color-primary-dark: $palette-purple-700 !default;
$color-accent: $palette-orange-A200 !default;

// The two possible colors for overlayed text.
$color-dark-contrast: $white !default;
$color-light-contrast: $black !default;

// From TWBS
$gray-dark:                 $palette-gray-900 !default;
$gray:                      $palette-gray-500 !default;
$gray-light:                $palette-gray-400 !default;
$gray-lighter:              $palette-gray-300 !default;
$gray-lightest:             $palette-gray-100 !default;

$brand-primary: $palette-blue-500!default;
$brand-secondary: $palette-light-green-300 !default;
$brand-tertiary: $palette-orange-A400 !default;
$brand-success: $palette-green-500 !default;
$brand-info: $palette-blue-A400 !default;
$brand-warning: $palette-orange-A400 !default;
$brand-danger: $palette-deep-orange-500 !default;

$background-color: lighten($palette-gray-200, 10);
$text-color      : $gray-dark;
$text-color-dark : $gray;
$text-color-light: $white;
$link-color      : rgba($palette-orange-A200, 0.87) !default;

$palette-categories:
$palette-pink-A400,
$palette-purple-A400,
$palette-indigo-A400,
$palette-cyan-A400,
$palette-teal-A400,
$palette-green-A400,
$palette-lime-A400,
$palette-yellow-A700,
$palette-amber-A400,
$palette-orange-A400;
