.main-search {
    display: block;
    float: left;
    width: 100%;
    height: $main-header-primary-h;

    padding-left: 72px;
    margin-left: -64px;
}

#main-search__form {

    @include clearfix;

    position: relative;
    top: 1rem;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    margin: 0;
    padding: 0;

    .form-group {

        @include clearfix;

        display: block;
        float: left;
        margin: 0;
        height: 2rem;
        width: calc( 100% - 8rem );
    }

    .field-search {

        float: left;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0.25rem 0.75rem;
        font-size: 14px;
        color: $white;
        height: 2rem;
        line-height: 2rem;
        background-color: rgba( $search-fields-bgc, 1 );
        border: none;
        box-shadow: $field-shadow;
    }

    .btn-head-location {

        position: relative;
        top: 0;
        left: 0;
        z-index: 30;

        display: block;
        float: left;

        margin: 0;
        height: 2rem;
        width: 6rem;
        line-height: 2rem;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 0 solid transparent;

        @include button-size( 0, 0, 10px, 0 );
        @include transition(all .2s ease-in-out);
        @include button-variant( $btn-primary-color, $btn-purple, transparent );

        & > .text {
            position: relative;
            top: 0;
        }
    }

    html.chrome & .btn-head-location .text {
        @include media-breakpoint-down(md) {
            /**
             * @desc specific treatment for chrome mobile
             * @depends modernizr.js
             */
            top: 1px;
        }
    }

    .btn-submit-search {

        position: relative;
        top: 0;
        right: 0;
        z-index: 20;

        margin: 0;
        display: block;
        float: left;
        height: 2rem;
        width: 2rem;
        line-height: 2rem;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 0 solid transparent;
        @include button-size( 0, .25rem, 14px, 0 );
        @include transition(all .2s ease-in-out);
        @include button-variant( $btn-primary-color, $btn-purple, transparent );
    }
}
